footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    font-size: 1rem;
    position: fixed;
    bottom: 1rem;

    .social-icons {
      margin-bottom: 10px;
      a {
        margin-right: 0.5rem;
        @include transition-ease;

        &:hover {
          color: $secondary-color;
        }

        &:last-child{
          margin-right: 0;
        }
      }
    }
  }